.admin {
  display: inline;
  margin: 0 auto;
}
.left {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
  text-align: left;
}
.right {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 40%;
}
.succBtn,
.failBtn {
  margin: 4px;
  padding: 5px;
  color: white;
  font-weight: bold;
  border-radius: 10%;
  font-size: 10px;
}
.succBtn {
  background-color: green;
}
.failBtn {
  background-color: red;
}
button {
  background-color: red;
  margin: 2px;
  border-radius: 100px;
  border: 2px solid transparent;
  color: white;
  line-height: 16px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
button:hover {
  background-color: green;
}
